############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Macintosh
############

# Mac crap
.DS_Store

########################
## Sensitive Stuff
########################

# Configuration
certificiate
./database/*